
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #E3F2FD;
}
.download-btn{
  outline: none;
  border: none;
  color: #fff;
  display: flex;
  margin-top: 10px;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  border-radius: 6px;
  align-items: center;
  white-space: nowrap;
  background: #4A98F7;
  
  transition: all 0.2s ease;
}
.download-btn:hover{
  background: #2382f6;
  color: black;
  font: 400;
}
.download-btn.timer{
  color: yellow;
  background: none;
  transition: none;
  font-size: 1.6rem;
  pointer-events: none;
}
.download-btn.timer b{
  color: #4A98F7;
  padding: 0 8px;
}
.download-btn .icon{
  font-size: 2rem;
}
.download-btn .text{
  font-size: 1.5rem;
  padding-left: 10px;
}




*{
    padding: 0;
    margin: 0;
    font-family: Merriweather;
    box-sizing: border-box;
  }
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 500px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  .nav,
  .nav .nav-links {
    display: flex;
    align-items: center;
  }
  .nav {
    justify-content: space-between;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .nav .logo {
    font-size: 22px;
    font-weight: 500;
  }
  .nav .nav-links {
    column-gap: 20px;
    list-style: none;
  }
  .nav .nav-links a {
    transition: all 0.2s linear;
  }
  .nav.openSearch .nav-links a {
    opacity: 0;
    pointer-events: none;
  }
  .nav .search-icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    position: absolute;
    right: 250px;
    height: 45px;
    max-width: 555px;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s linear;
  }
  .nav.openSearch .search-box {
    opacity: 1;
    pointer-events: auto;
  }
  .search-box .search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    left: 15px;
    color: #dadbdd;
    transform: translateY(-50%);
  }
  .search-box input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 15px 0 45px;
  }
  
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: none;
  }
  
  /* responsive */
  @media screen and (max-width: 1160px) {
    .nav {
      padding: 15px 100px;
    }
    .nav .search-box {
      right: 150px;
    }
  }
  @media screen and (max-width: 950px) {
    .nav {
      padding: 15px 50px;
    }
    .nav .search-box {
      right: 100px;
      max-width: 400px;
    }
  }
  @media screen and (max-width: 768px) {
    .nav .navOpenBtn,
    .nav .navCloseBtn {
      display: block;
    }
    .nav {
      padding: 15px 20px;
    }
    .nav .nav-links {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      max-width: 280px;
      width: 100%;
      padding-top: 100px;
      row-gap: 30px;
      flex-direction: column;
      background-color: #11101d;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
      z-index: 100;
      
    }
    .nav.openNav .nav-links {
      left: 0;
    }
    .nav .navOpenBtn {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .navCloseBtn {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 20px;
      cursor: pointer;
    }
    .nav .search-box {
      top: calc(100% + 10px);
      max-width: calc(100% - 20px);
      right: 50%;
      transform: translateX(50%);
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
  }
  







  
  .btn {
    margin-top: 5%;
    width: 48%;
    height: 9%;
    text-align: start;
    padding-left: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: aliceblue;
  }
  .btn:hover {
    background-color: black;
    color: rgb(#fff734);
    
  };
 
  @media (min-width: 992px) {
    /* Large screens */
    .fixed-div {
      position: fixed;
      background-color: #191a19;
      width: 32%;
      height: 80ch;
      color: aliceblue;
    }
  }

  @media (max-width: 991px) {
    /* Medium screens */
    .fixed-div {
      position: fixed;
      background-color: #191a19;
      width: 32%;
      height: 80ch;
      color: aliceblue;
    }
  }

  @media (max-width: 767px) {
    /* Small screens */
    .fixed-div {
      position:fixed;
    
    }
  }
  
 
  .skill-bars{
    padding: 25px 30px;
    width: 600px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #6665ee;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 90%;
    background-color: red;
  }
  .bar .progress-line.css span{
    width: 60%;
    background-color: yellow;
  }
  .bar .progress-line.jquery span{
    width: 85%;
  }
  .bar .progress-line.python span{
    width: 50%;
    background: blue;
  }
  .bar .progress-line.mysql span{
    width: 75%;
    background-color: #a445b2;
  }
  .progress-line span::before{
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  .progress-line span::after{
    position: absolute;
    top: -28px;
    right: 0;
    font-weight: 500;
    background: #000;
    color: #fff;
    padding: 1px 8px;
    font-size: 12px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
  }
  @keyframes showText2 {
    100%{
      opacity: 1;
    }
  }
  .progress-line.html span::after{
    content: "90%";
  }
  .progress-line.css span::after{
    content: "60%";
  }
  .progress-line.jquery span::after{
    content: "85%";
  }
  .progress-line.python span::after{
    content: "50%";
  }
  .progress-line.mysql span::after{
    content: "75%";
  }